<div class="band">
</div>

<div class="col-md-12 login">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h4>S'inscrire</h4>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.email_field :email, placeholder: "Email",class: "form-control input-lg", autofocus: true %>
    </div>

    <div class="form-group">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder: "Mot de passe", class: "form-control input-lg", autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, placeholder: "Confirmer Mot de Passe",class: "form-control input-lg", autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.submit "S'inscrire", class: "btn btn-primary btn-lg btn-block" %>
    </div>
    <%- if controller_name != 'sessions' %>
      <span class><%= link_to "Se connecter", new_session_path(resource_name) %></span>
    <% end -%>

  <% end %>
</div>