<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Ajoute ta musique</a></li>
  <li><a data-toggle="tab" href="#menu1">Ajoute ton film</a></li>
  <li><a data-toggle="tab" href="#menu2">Ajoute ton livre</a></li>
</ul>

<div class="tab-content">
  <div class='tab-pane fade in active' id="home">
    <div class="formul">
      <h4> Ajoute un new Morceau</h4>
      <div class="form_song">
        <%= form_for @song do |f| %>
          <div class="input-group">
            <%= f.label :image %>
            <img id='img-upload'/>
            <%= f.file_field :image, class: "btn btn-default btn-file", type: "file", id: "imgInp" %>
          </div>
          <div class="input-group">
            <%= f.label :link_music %>
            <%= f.text_field :link_music, class: "form-control"  %>
          </div>
          <div class="input-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control", size: "50x10" %>
          </div>
          <div class="input-group">
            <%= f.submit "go", class: "btn btn-lg btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="menu1" class="tab-pane fade">
    <%= render "movies/form" %>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>

